<div class="container">
   <h2>Lugares fisicos donde puede votar.</h2>
   <div class="contenedor">
      <div class="select">
         <select>
            <option selected disabled>Seleccione estado</option>
            <option value="estado0">Estado 0</option>
            <option value="estado1">Estado 1</option>
            <option value="estado2">Estado 2</option>
            <option value="estado3">Estado 3</option>
         </select>
      </div>
      <div class="select">
         <select>
            <option selected disabled>Seleccione municipio</option>
            <option value="municipio0">Municipio 0</option>
            <option value="municipio1">Municipio 1</option>
            <option value="municipio2">Municipio 2</option>
            <option value="municipio3">Municipio 3</option>
         </select>
      </div>
      <div class="select">
         <select>
            <option selected disabled>Seleccione colonia</option>
            <option value="colonia0">Colonia 0</option>
            <option value="colonia1">Colonia 1</option>
            <option value="colonia2">Colonia 2</option>
            <option value="colonia3">Colonia 3</option>
         </select>
      </div>
   </div>

   <div class="map-container">

      <iframe
         src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d59394.999544166596!2d-104.88438953348081!3d21.500375633081617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1636040203490!5m2!1ses!2smx"
         width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
   </div>


</div>