<nav class='menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
          <ul>
        <li>
          <a (click)="goToPerfil()">Perfil</a>
        </li>
        <li>
          <a (click)="goToVotar()">Votar</a>
        </li>
        <li>
          <a (click)="goToResultados()">Resultados</a>
        </li>
        <li>
          <a (click)="goToCasillass()">Casillas</a>
        </li>
        <li>
          <a (click)="goToAlcance()">Alcance</a>
        </li>
        <li class="item-logout">
        </li>
      </ul>
</nav>
