.titulo{
    display: flex;
    justify-content: space-between;
}
.btn{
    height: 40px;
    min-width: 100px;
    background-color: gray;
    color: white;
}
.partido{
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.partido:hover{
    transform: scale(1.006);
    background-color: rgba(255, 255, 255, 0.877);
    box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.27);
    -webkit-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.27);
}
.partido img {
    max-width: 200px;
}
.partido .partido-img{
    flex-grow: 1;
}
.partido .partido-datos{
    flex-grow: 4;
    margin: 1rem;
}
.titulo h2{
    margin-bottom: 0;
}