<div class="container">
    <div class="titulo">
        <h2>Candidatos para el puesto de {{this.puesto}}</h2>
        <button routerLink="/puestos" class="btn">
            <i class="fas fa-long-arrow-alt-left .icon"></i>
            Regresar
        </button>
    </div>
    <div class="partido" *ngFor="let candidato of candidatos">
        <div class="partido-img">
            <img src={{candidato.imagenPartido}} alt={{candidato.partido}}>
        </div>
        <div class="partido-datos">
            <p>{{candidato.nombre}} {{candidato.apellido}}</p>
            <p>{{candidato.edad}} años</p>
            <p>{{candidato.educacion}}</p>
            <h3>Propuestas:</h3>
            <ul>
                <li><i>{{candidato.propuestas}}</i></li>
            </ul>
        </div>
    </div>
</div>