<app-nav-menu></app-nav-menu>
<section class="container">
    <div class="titulo">
        <h2>Candidatos para el puesto de {{this.puesto}}</h2>
        <button routerLink="/puestos" class="btn">
            <i class="fas fa-long-arrow-alt-left .icon"></i>
            Regresar
        </button>
    </div>
    <div class="partido" *ngFor="let candidato of candidatos">
        <div class="partido-img">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Gray-Candidatura_independiente.svg" alt="">
        </div>
        <div class="partido-datos">
            <p>{{candidato.nombre}}</p>
            <p>{{candidato.propuestas}}</p>
            <p>{{candidato.educacion}}</p>
            <p>{{candidato.puesto}}</p>
            <p><img src={{candidato.imagenPartido}} alt=""> </p>
        </div>
    </div>
</section>