.titulo{
    display: flex;
    justify-content: space-between;
}
.btn{
    height: 40px;
    min-width: 100px;
    background-color: gray;
    color: white;
}
.partido{
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.partido img {
    max-width: 200px;
}
.partido .partido-img{
    flex-grow: 1;
}
.partido .partido-datos{
    flex-grow: 4;
    margin: 1rem;
}

