<div class="container">
    <div class="titulo">
        <h2>Bienvenido {{dataVotante.nombre}}</h2>
        <button routerLink="/inicio" class="btn my-btn">
            <i class="fas fa-long-arrow-alt-left .icon"></i>
            Inicio
        </button>
        <button (click)="logOut()" class="btn my-btn my-btn-out">
            <i class="fas fa-sign-out-alt icon" ></i>
        </button>
    </div>
    <br />
    <article>
        <div class="tbl-votante">
            <p style="text-align: center;"><b>TUS DATOS</b></p>
            <hr />
            <div class="votante">
                <div class="votante-img">
                    <img class="user" src="https://cdn-icons-png.flaticon.com/512/848/848006.png" alt="">
                </div>
                <div class="votante-datos">
                    <div style="display: flex; justify-content: space-between;">
                        <p><b>NOMBRE:</b> {{dataVotante.nombre}}</p>
                        <p><b>FECHA DE NACIMIENTO:</b> {{dataVotante.fechaNac}}</p>
                    </div>
                    <p><b>DOMICILIO:</b> {{dataVotante.domicilio}}</p>
                    <p><b>DE ELECTOR:</b> {{dataVotante.clave}}</p>
                    <p><b>CURP:</b> {{dataVotante.curp}}</p>
                    <div style="display: flex; justify-content: space-between;">
                        <p><b>ESTADO:</b> {{dataVotante.estado}}</p>
                        <p><b>MUNICIPIO:</b> {{dataVotante.municipio}}</p>
                        <p><b>SECCIÓN:</b> {{dataVotante.seccion}}</p>
                        <p><b>LOCALIDAD:</b> {{dataVotante.localidad}}</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>