<app-nav-menu></app-nav-menu>
<section>
    <h2>Bienvenido Fulatino de Tal</h2>
    <article>
        <table class="tbl-votante">
            <caption>TUS DATOS</caption>
            <tbody>
                <tr>
                    <td>
                        <div class="votante">
                            <div class="votante-img">
                                <img class="user" src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
                                    alt="">
                            </div>
                            <div class="votante-datos">
                                <p>NOMBRE: {{votante.nombre}}</p>
                                <p>FECHA DE NACIMIENTO: {{votante.fechaNac}}</p>
                                <p>DOMICILIO: {{votante.domicilio}}</p>
                                <p>CLAVE DE ELECTOR: {{votante.claveElector}}</p>
                                <p>CURP: {{votante.curp}}</p>
                                <p>ESTADO: {{votante.estado}}</p>
                                <p>MUNICIPIO: {{votante.municipio}}</p>
                                <p>SECCIÓN: {{votante.seccion}}</p>
                                <p>LOCALIDAD: {{votante.localidad}}</p>
                            </div>
                        </div>
                    </td>                       
                </tr>
            </tbody>
        </table>
    </article>
</section>