<div class="container mb-5">
  
  <div class="titulo container to-right">
    <h2></h2>
    <button routerLink="/inicio" class="btn my-btn">
        <i class="fas fa-long-arrow-alt-left .icon"></i>
        Inicio
    </button>
  </div>
  <div class="card">
    <p class="text-center mt-5">Resultado de votos para Gobernador</p>
    <div style="display: block;">
      <canvas baseChart [data]="polarAreaChartDataGob" [labels]="polarAreaChartLabelsGob" [legend]="polarAreaLegend"
        [options]="options" [colors]="colores" [chartType]="polarAreaChartType">
      </canvas>
    </div>
  </div>
  <div class="card">
    <p class="text-center mt-5">Resultado de votos para Senador</p>
    <div style="display: block">
      <canvas baseChart [data]="polarAreaChartDataSen" [labels]="polarAreaChartLabelsSen" [legend]="polarAreaLegend"
        [options]="options" [colors]="colores" [chartType]="polarAreaChartType">
      </canvas>
    </div>
  </div>
  <div class="card">
    <p class="text-center mt-5">Resultado de votos para Presidente</p>
    <div style="display: block;">
      <canvas baseChart [data]="polarAreaChartDataPre" [labels]="polarAreaChartLabelsPre" [legend]="polarAreaLegend"
        [options]="options" [colors]="colores" [chartType]="polarAreaChartType">
      </canvas>
    </div>
  </div>
</div>