<section >
    <h2>Espacios fisicos donde puede votar.</h2>
       <div class="contenedor">
       <div class="select">
          <select>
             <option selected disabled>Seleccione municipio</option>
             <option value="estado0">Acaponeta</option>
             <option value="estado1">Ahuacatlán</option>
             <option value="estado2">Amatlán de Cañas</option>
             <option value="estado3">Compostela</option>
             <option value="estado3">Huajicori</option>
             <option value="estado3">Ixtlán del Río	</option>
             <option value="estado3">Jala</option>
             <option value="estado3">Xalisco</option>
             <option value="estado3">Del Nayar</option>
             <option value="estado3">Rosamorada</option>
             <option value="estado3">Ruíz</option>
             <option value="estado3">San Blas</option>
             <option value="estado3">San Pedro Lagunillas</option>
             <option value="estado3">Santa María del Oro</option>
             <option value="estado3">Santiago Ixcuintla</option>
             <option value="estado3">Tecuala</option>
             <option value="estado3">Tepic</option>
             <option value="estado3">Tuxpan</option>
             <option value="estado3">La Yesca</option>
             <option value="estado3">Bahía de Banderas</option>
          </select>
       </div>
       <div class="select">
          <select>
             <option selected disabled>Seleccione sección</option>
             <option value="municipio0">Sección 01</option>
             <option value="municipio1">Sección 02</option>
             <option value="municipio2">Sección 03</option>
             <option value="municipio3">Sección 04</option>
          </select>
       </div>

       <div class="container">
        <button routerLink="/inicio" class="btn my-btn">
            <i class="fas fa-long-arrow-alt-left .icon"></i>
            Inicio
        </button>
       </div>
       </div>

    <div class="mapa">
        <iframe class=centro src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1896167.714381097!2d-106.32565795049952!3d21.840072476572832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8420a89ce63edb47%3A0xc2c8f5a28694d239!2sNayarit!5e0!3m2!1ses-419!2smx!4v1639029415058!5m2!1ses-419!2smx" width="1400" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        
    </div>
       
</section >
