<div class="container-login">
    <div class="login-box">
        <img class="avatar" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="user">
        <h1 class="title1">Iniciar Sesión</h1>
        <form>
        <!--CURP-->
        <label for="curp">CURP</label>
        <input name="curp" type="text" placeholder="Ingrese su CURP">
        
        <!--PASSWORD-->
        <label for="contra">Contraseña</label>
        <input name="contra" type="password" placeholder="Ingrese su clave de acceso">

        <input class="inicio" type="submit" value="Ingresar" (click)="login()">
        <div>
            <a hxref="#">¿Olvidaste tu contraseña?</a><br>
        </div>
        <div>
            <a href="#">Crear cuenta</a>
        </div>
        
        <div>
            <a (click)="goAdminPage()">Administración</a>
        </div>

        </form>
    </div>
</div>